body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    flex-direction: column;
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, 50px); /* Квадратне поле 10x10 */
    grid-gap: 2px;
    margin: 0 auto;
    border: 2px solid #333;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #333;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease;
}

.cell.empty {
    background-color: #f0f0f0;
}

.cell.A {
    background-color: #ff9999;
}

.cell.B {
    background-color: #99ccff;
}

.cell.C {
    background-color: #99ff99;
}

.cell.D {
    background-color: #ffcc99;
}
